# Application URLs
APP_URL=
API_URL=

# Authentication Credentials
USER_EMAIL=
USER_PASSWORD=
USER_NAME=
USER_ROLE=

# User Profiles
PERFORMANCE_USER_NAME=
PROBLEM_USER_NAME=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_ROLE=
