# Dependency directories
node_modules/
jspm_packages/

# Playwright-specific test outputs
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Local environment files
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
